html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
	background-image: url(../img/bg5.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;

    font-family: 'Open Sans', 'helvetica', arial, sans-serif;
    font-weight: 300;
    color: #62686f
}

.container {
	width: 960px;
	margin: 0 auto;
}
@media (max-width : 480px){
	.container {
		width: 100%;
		margin: 0 auto;
	}
}

.main-header__avatar {
	display: block;
	margin: 0 auto;
	box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
	border-radius: 999px;
	border: 3px solid white;

	margin-top: -70px;
    margin-bottom: 10px;


}


.main-header {
	padding: 1px;
	margin-top: 100px;
	background-image: url(../img/banner.jpg);
	text-align: center;
}


.main-header  h1 {
	margin-bottom: 20px;

	font-weight: 300;
	font-size: 50px;
	font-family: 'Open Sans','helvetica',arial,sans-serif;
	text-shadow: text-shadow: 0 1px rgba(0,0,0,0.3);
	color: white;
}

@media (max-width : 480px){
	.main-header  h1 {
		font-size: 32px;
	}
}

.main-nav {
	background-color: #333;
}

.main-nav  ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

.main-nav ul li {
	margin: 15px 10px;
	display: inline-block;
}
@media (max-width : 480px){
	.main-nav ul li {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 5px;
		display: block;
	}
}

.main-nav ul li a {
	color: #fff;
	font-size: 0.9rem;
	font-weight: 300;
	text-transform: uppercase;
	text-decoration: none;
}

.main-nav ul li a:hover {
	text-decoration: underline;
}

.info-section {
  	background-color: #fff;
	padding: 30px 60px;
	text-align: center;
}
@media (max-width : 480px){
	.info-section {
		padding: 10px;
	}
}

.whatido__skill-list {
	list-style: none;
	padding:0;
}


.info-section header h2 {
  	font-size: 28px;
  	text-transform: uppercase;
  	letter-spacing: 3px;
}

.info-section header h2:after {
	display: block;
	width: 90px;
	margin: 0 auto;
	content:"";
	border-bottom: 3px solid black
}

.info-section__description {
  	font-style: italic;
}

.whatido__skill-list {
	margin-top: 60px;
}

.whatido__skill-list:after {
	content:"";
	display: table;
	clear:both;
}

.whatido__skill-list li{
	float: left;
}
@media (max-width : 480px){
	.whatido__skill-list li{
		float: left;
		margin-bottom: 40px;
	}

}

.whatido__skill--code {
  	background-image: url(../img/skill-code.png);
  	background-repeat: no-repeat;
  	background-position: center top;
  	padding-top: 100px;

  	width: 33.3%;
}

.whatido__skill--design {
  	background-image: url(../img/skill-design.png);
  	background-repeat: no-repeat;
  	background-position: center top;
  	padding-top: 100px;

  	width: 33.3%;
}

.whatido__skill--product {
  	background-image: url(../img/skill-product.png);
  	background-repeat: no-repeat;
  	background-position: center top;
  	padding-top: 100px;

  	width: 33.3%;
}

.education-experience__list li {
	overflow: hidden;
	list-style: none;
	text-align: left;
}

.education-experience__list li img{
	margin: 10px 30px;
	float: left;
	width: 180px;
}

@media (max-width : 480px){
	.education-experience__list li img{
		display: block;
		float: none;
		margin:0 auto;
		width: 180px;
	}
}

@media (max-width : 480px){
	.education-experience header span {
		display: block;
	}
}
.photos__list {
	overflow: hidden;
}
.photos__list li {
	float: left;
	list-style: none;
	width: 25%;
	padding: 10px;
}
.photos__list li img {
	width: 100%;
}

@media (max-width : 480px){
	.photos__list li {
		display: block;
		width: 100%;
		float:none;
	}
}

.get-in-touch__list {
	list-style: none;
	overflow: hidden;
	padding-top: 20px
}

.get-in-touch__list li {
	float: left;
	width: 25%;
}

@media (max-width : 480px){
	.get-in-touch__list {
		padding-left: 0px;
	}
	.get-in-touch__list li {
		float: left;
		width: 50%;
	}
}


.contact form{
	position: relative;
	display: block;
	margin: 0 auto;
	width: 40%;
}

.contact input,
.contact textarea {
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	display: block;
	padding: 8px;
	width: 100%;
	margin-left: 5px;
	margin-bottom: 10px;
}

.contact button {
  	border: none;
  	border-radius: 9999px;

  	background: #ffd524;

  	cursor: pointer;
  	text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  	color: #fff;
  	box-shadow: 0 3px 0 #daae1d;
  	display: block;
	padding: 8px;
	width: 100%;
	margin-left: 5px;
	margin-bottom: 10px;
}



label {
	position: absolute;
	left: -100%;
	width: 100%;
	text-align: right
}

label[for=name]{
	top: 0;
}

label[for=email]{
	top: 24%;
}

label[for=message]{
	top: 48%;
}

@media (max-width : 480px){
	.contact form{
		position: static;
		display: inline-block;
		text-align: left;
		width: 100%;
	}

	.contact label {
		position: static;
		padding-left: 5px;
	}
}








